[Unit]
Description=Set power LED color based on battery level at startup or wake-up
After=suspend.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'sleep 1.9; /usr/bin/bash /usr/local/bin/power-led-on.sh'

[Install]
WantedBy=multi-user.target
WantedBy=suspend.target

