[Unit]
Description=Turn off power LED on shutdown or sleep
Before=shutdown.target sleep.target network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ectool led power off
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
