[Unit]
Description=Turn off power LED on shutdown or sleep
DefaultDependencies=no
Before=shutdown.target sleep.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/local/bin/ectool led power off'

[Install]
WantedBy=shutdown.target sleep.target
